
<div class="pop-up-container">
  <div class = "row header">
     <p >Attendance Edit Reason</p>
     <span class="icon-close" (click) = "oncloseConfirm()"></span>
  </div>  

  <div class="login-body">

    <p class="statement">
      You are making Sudha Nair Attendance as "Absent" please provide reasons for making this change.
    </p>
      <div class="row edit-input-wrapper">
          <label class = "label" for="">Please type the reason here</label>
           <input class="col-sm-12 col-md-12 col-lg-12" type="text">
          <label class="validation">100 characters</label>
      </div>

      <div class="button-container">
          <button class="button-bold button" >submit</button>
      </div>
  </div>
</div>


