
  <div  class="fluid-container close-margin" id = "main-container" [ngClass]="user ? 'open-margin':''">

    <div class="event-header-container">

    <div class="img-wrapper">
      <img src="../assets/images/WILPfaculty-bg-17.png" alt="">
    </div>
    <div class="button-wrapper">
        <button class="change-pswd">Change password</button>
      </div>
    <div class="content-wrapper">
      <div class="image-wrapper">
        <div [ngClass] = "isHide ? 'image':''">
            <img src="../assets/images/profile-black.jpg" alt="">
            <span class="icon-camera isHide"></span>
        </div>
        <svg width="100" height="100" class="half-circle hidden-xs" [ngClass] = "isHide ? 'half-circle-edit':''" >
          <circle _ngcontent-c2="" cx="50" cy="25." fill="none" r="46" stroke="#65c4e8" stroke-width="3.5"></circle>      
         </svg> 
      </div>

      <div class="instructor-details" [ngClass] = "isHide ? 'isHide':''" >
          <h4>John David</h4>
          <ul>
            <li>
              <span class = "icon icon-email"></span>
              <span class="label">Johndavid@bitspilani.com</span>
            </li>
            <li>
                <span class = "icon icon-mobile"></span>
                <span class="label">9657678678</span>
              </li>
              <li>
                  <span class = "icon icon-linkedin"></span>
                  <span class="label">https://in.linkedin.com</span>
                </li>
          </ul>
      </div>

      <div class="edit-instructor-details isHide" [ngClass] = "isHide ? 'isShow':''" >
          <h4>John David</h4>
          <ul>
            <li>
              <span class = "icon icon-email"></span>
              <span class="label">Johndavid@bitspilani.com</span>
            </li>
            <li>
                <span class = "icon icon-mobile"></span>
                <span class="label">
                    <input type="text" value = "9657678678" />
                </span>
              </li>
              <li>
                  <span class = "icon icon-linkedin"></span>
                  <span class="label">
                    <input type="text" value = "https://in.linkedin.com" />
                  </span>
                </li>
          </ul>
      </div>
    </div>
    </div>
  
    <div class="event-section-container">
        <div class="icon-edit-wrapper" (click) = "editprofile()" [ngClass] = "isHide ? 'isHide':''">
            <span class="icon-edit"></span>
        </div>    
          <p class ="title">About Me</p>
      <div class="section-wrapper" [ngClass] = "isHide ? 'isHide':''" >
         
          <p class="content">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </p>
          <p class="content">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </p>
          <p class="content">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </p>
      </div>

      <div class="edit-wrapper isHide" [ngClass] = "isHide ? 'isShow':''" >
          <div class="row">
              <mat-form-field class="example-full-width col-sm-12 col-md-12 col-lg-12">
                <input matInput placeholder="Please type your details here" >
              </mat-form-field>
          </div>
          <button>Save</button>
      </div>
     
    </div>
  </div>
