
<div class="pop-up-container">
    <div class = "row header">
       <p class="body2">Session Cancellation</p>
       <span class="icon-close" (click) = "oncloseConfirm()"></span>
    </div>  
  
    <div class="login-body">
  
        <div class="row session-detail">
          <p>Computer Architecture(Session 1)</p>
          <ul>
            <li class="first-location">
              <span class="icon icon-calendar"></span>
              <span class="caption">12 oct 2018 saturday</span>
            </li>
            <li>
                <span class="icon icon-time"></span>
                <span class="caption">9:30 - 11:30</span>
            </li>
            <li>
                <span class="icon icon-location"></span>
                <span class="caption">Lotus room,Ec2,Bangalore</span>
            </li>
          </ul>
        </div>
        <div class="row edit-input-wrapper">
            <label class = "label" for="">Please type the reason for scheduled Session</label>
             <input class="col-sm-12 col-md-12 col-lg-12" type="text">
            <label class="validation">100 characters</label>
        </div>
  
        <div class="button-container">
            <button class="button-bold button" >submit</button>
        </div>
    </div>
  </div>
  
  
  