<div class="fluid-container close-margin" id = "main-container">

        <header>
                <div class="header-left-content" (click)="oncloseConfirm()">
                    <div class="image-wrapper">
                      <img src = "../../assets/images/wipro-logo.png" />
                        <span></span>
                    </div>

                    <div class="image-title">
                        <span></span>
                        <p>Wipro Integrated Learning Program</p>
                    </div>

                </div>

         </header>

        <div class="event-header-container">
        <div class="img-wrapper">
          <img src="../assets/images/WILPfaculty-bg-17.png" alt="">
        </div>

        </div>

        <div class="event-section-container">
            <div class="main-container">
                <div class="sections qrcode-container">
                  <div class="qrcode-wrapper">
                    <img src="../assets//images/qrcode.png" alt="">
                  </div>
                  <div class="qrcode-details">
                      <p class="time">00:03:00</p>
                      <p>Life time of QR code is 3 minute</p>
                      <p>Started Countdown</p>
                  </div>
                </div>
                <div class="sections attendence-container">
                  <div class="row subject-attendance">

                        <div class="col-8 col-sm-8 col-md-8 col-lg-8 subject">
                            <p>Computer Architecture (Session 1)</p>
                            <div class="location">
                              <span class="icon-location"></span>
                              <span class="location-name">Lotus room, EC2, Bangalore</span>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 " >
                          <div class="attendence">
                              <p class="status">Attendence captured</p>
                              <p class="count">50/100</p>
                          </div>

                        </div>

                  </div>
                  <div class="scroll">
                  <div class="row present-student">
                    <div class="img-wrapper">
                        <img src="../assets/images/profile.png" alt="">
                    </div>
                    <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                      <div class="img-wrapper">
                          <img src="../assets/images/profile.png" alt="">
                      </div>
                      <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                        <div class="img-wrapper">
                            <img src="../assets/images/profile.png" alt="">
                        </div>
                        <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                          <div class="img-wrapper">
                              <img src="../assets/images/profile.png" alt="">
                          </div>
                          <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                      <div class="img-wrapper">
                          <img src="../assets/images/profile.png" alt="">
                      </div>
                      <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                      <div class="img-wrapper">
                          <img src="../assets/images/profile.png" alt="">
                      </div>
                      <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                        <div class="img-wrapper">
                            <img src="../assets/images/profile.png" alt="">
                        </div>
                        <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                          <div class="img-wrapper">
                              <img src="../assets/images/profile.png" alt="">
                          </div>
                          <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                    <div class="img-wrapper">
                        <img src="../assets/images/profile.png" alt="">
                    </div>
                    <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                      <div class="img-wrapper">
                          <img src="../assets/images/profile.png" alt="">
                      </div>
                      <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                        <div class="img-wrapper">
                            <img src="../assets/images/profile.png" alt="">
                        </div>
                        <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                          <div class="img-wrapper">
                              <img src="../assets/images/profile.png" alt="">
                          </div>
                          <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                      <div class="img-wrapper">
                          <img src="../assets/images/profile.png" alt="">
                      </div>
                      <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                      <div class="img-wrapper">
                          <img src="../assets/images/profile.png" alt="">
                      </div>
                      <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                        <div class="img-wrapper">
                            <img src="../assets/images/profile.png" alt="">
                        </div>
                        <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                          <div class="img-wrapper">
                              <img src="../assets/images/profile.png" alt="">
                          </div>
                          <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                    <div class="img-wrapper">
                        <img src="../assets/images/profile.png" alt="">
                    </div>
                    <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                      <div class="img-wrapper">
                          <img src="../assets/images/profile.png" alt="">
                      </div>
                      <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                        <div class="img-wrapper">
                            <img src="../assets/images/profile.png" alt="">
                        </div>
                        <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                          <div class="img-wrapper">
                              <img src="../assets/images/profile.png" alt="">
                          </div>
                          <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                      <div class="img-wrapper">
                          <img src="../assets/images/profile.png" alt="">
                      </div>
                      <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                      <div class="img-wrapper">
                          <img src="../assets/images/profile.png" alt="">
                      </div>
                      <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                        <div class="img-wrapper">
                            <img src="../assets/images/profile.png" alt="">
                        </div>
                        <p class="student-name">Jerry conneth</p>
                  </div>
                  <div class="row present-student">
                          <div class="img-wrapper">
                              <img src="../assets/images/profile.png" alt="">
                          </div>
                          <p class="student-name">Jerry conneth</p>
                  </div>
                </div>
                </div>
            </div>
        </div>
      </div>
