
<div *ngIf="router.url !== '/login'">
<app-header> </app-header>
  
  <div class="slider-container">
      <div id="mySidebar" class="sidebar close-width" [ngClass]="isTrue ? 'open-width':''">

          <a (click) = "openNav()" >
            <span class = "slider-menu icon-burger_menu" ></span>
            <span class="menu-items">Main Menu</span>
          </a>

          <a routerLink = 'scheduledsession' routerLinkActive="avtive">
            <span class = "slider-menu icon-skillname" ></span>
            <span class="menu-items">My Sessions</span>
          </a>
          <a (click) = "sessionNew()" >
            <span  class = "slider-menu icon-circle_add" ></span>
            <span class="menu-items">Create New Session</span>
          </a> 
          <a data-toggle="tooltip">
            <span class = "slider-menu icon-doc_download" ></span>
            <span class="menu-items">User Guide</span>
          </a>
      </div>
  </div>
</div>
<router-outlet></router-outlet>

