
$colors:(
    ruby-red:#EF3341,
    navy-blue:#0e3570,
    sunny-yellow:#ffda29,
    dark-green:green,
    apple-grean:#6DC24B,
    light-green:#208c75,
    sky-blue: #00A2E0,
    light-gray: #F2F2F2,
    gray: #646363,
    black: #000,
    white:#FFFFFF,
    admin-navy-blue: #0E3570,
    admin-gray: #646363,
    admin-light-gray: #8E8E8E,
    student-navy-blue: #0E3570,
    student-gray: #6B6B6B,
    student-light-gray: #666666,
    student-sunny-yellow: #E1DA29,
);
@function color($color-name){
    @return map-get($map:$colors , $key: $color-name);
};

$width:100%;
$border-radius: 50%;