

<div class="pop-up-container">
  <div class = "row header">
      <ul class="row">
        <li class="col-sm-2">
          <img src="../../../assets/images/wipro-logo.png" alt="">
        </li>
        <li class="col-sm-1 vertical-line">
          <span></span>
        </li>
        <li class="col-sm-5"><p>Wipro Integrated Learning program</p></li>
      </ul>
  </div>

  <div class="login-body">
    <div class="row input-wrapper">
      <label class = "col-sm-12 col-md-12 col-lg-12" for="">Sign in with your login details</label><br>
      <input placeholder="Password" class = "col-sm-12 col-md-12 col-lg-12" type="text" name="" id=""><br>
      <span class="icon-notification"></span>
      <input class = "col-sm-12 col-md-12 col-lg-12" placeholder="Password" type="password">
      <span class="icon-password"></span>
      </div>
      <div class="button-container">
      <ul class="row">
        <li class="">
          <button class="button-bold button" (click) = "redirect()">Login</button>
        </li>
        <li class="vertical-line">
          <span></span>
        </li>
        <li class="pswd">Forgot password?</li>
      </ul>
      </div>
  </div>
</div>


